/13. GUI/NetBeans/PercobaanGUI/target/
/13. GUI/NetBeans/Assignment/target/
/14. GUI and Database/NetBeans/Library/target/
/14. GUI and Database/NetBeans/Library/nbproject/private/
/14. GUI and Database/NetBeans/Library/build/
/14. GUI and Database/NetBeans/Library/dist/
